@import 'primeicons/primeicons.css';

// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.toast {
    position: absolute !important;
    right: 0;
    z-index: 1;
}
